$color-dark-blue: #2B455F;
$color-pink: #b929bd;
$color-pink-dark: #9d24a0;
$color-underline: #bf27bd;
$color-light-blue: #c9dff7;
$color-blue: #5f8fc6;

$color-head-desc: #68676b;

$color-instagram: #cd486b;
$color-smoke-white: #d8dbdc;
$color-white: #F8FBFC;

@keyframes grow-width {
  from {
    width: 150px;
  }
  to {
    width: 10px;
  }
}

@keyframes elevate {
  from {
    top: 0px;
  }
  to {
    top: 10px;
  }
}

html {
  @media screen and (max-width: 768px) {
    font-size: 80%;
  }
  @media screen and (max-width: 500px) {
    font-size: 60%;
  }
  @media screen and (max-width: 400px) {
    font-size: 50%;
  }
  @media screen and (max-width: 320px) {
    font-size: 48%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  //background: #2B455F;
  background: #fcfcfc;
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
  color: $color-white;
}

ul {
  padding: 0;
  list-style: none;
}

.download_cv {
  padding: 1em 3em;
  border-radius: 2em;
  background: #4c48ad;
  color: #fff;
  font-size: 15px;
  box-shadow: 4px 4px 13px #7965c2ad;
  text-shadow: none;
  font-weight: 800;
  &:hover {
    box-shadow: 0px 0px 20px 0px #7965c2ad;
  }
}

.desc__list {
  list-style: disc;
  padding: 0.5em 2em;
}

section {
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth; /* <----- THE SECRET ---- */
}

.text-right {
  text-align: right;
}

.disclaimer-black {
  color: #333;
}

.last--updated {
  position: absolute;
  bottom: 0px;
  right: 40px;
  color: #333232;
  font-size: 14px;
}

.contact-wrap {
  display: none;
  border-radius: 5px;
  position: relative;
  max-width: 60%;
  margin: 6em auto;
  padding: 4em;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0px 0px 80px 0px #867ecc2e;
  z-index: 22;

  &::before {
    background-image: url(/assets/media/emailbg.png);
    background-position: 100% -30px;
    background-repeat: no-repeat;
    background-size: 200px;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .form-row {
    margin-top: 1em;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    label {
      font-size: 15px;
      font-weight: 600;
      color: hsla(211, 29%, 35%, 1);
      margin-bottom: 10px;
    }
    input[type="text"], textarea {
      line-height: 30px;
      border-radius: 4px;
      border: 1px solid #ddd;
      padding: 5px 15px;
      font-size: 13px;
    }
    input[type="button"], input[type="submit"] {
      background: #5B59B8;
      line-height: 30px;
      border-radius: 4px;
      border: none;
      padding: 5px 15px;
      width: 200px;
      font-weight: 500;
      margin-left: auto;
      font-size: 15px;
      color: #fff;
    }
  }
  @media screen and (max-width: 768px) {
    max-width: 80%;
  }
  @media screen and (max-width: 600px) {
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  section#skills {
    position: relative;
    &::before {
      content: '';
      background-repeat: no-repeat;
      width: 500px;
      max-width: 50%;
      height: calc(80% - 10px);
      margin: 0 0 10px 0;
      border-radius: 3% 100% 70% 0% / 0% 69% 30% 100%;
      background-image: linear-gradient(45deg, #4390de 0%, #c140bd 100%);
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: 15px 10px 15px #ddd;
    }
  }
}

section#experiences::before {
  background-repeat: repeat-x;
  content: '';
  width: 39vw;
  height: 39vw;
  border-radius: 100%;
  background-image: linear-gradient(#e0e1f3, #ffebff);
  position: absolute;
  top: 30%;
  right: -15%;
  transform: translateY(-50%);
  min-width: 200px;
  min-height: 200px;
  box-shadow: -1090px 900px 0px 1em #ffdac430;
}

section#projects::before {
  background-repeat: repeat-x;
  content: '';
  width: 39vw;
  height: 39vw;
  border-radius: 100%;
  background-image: linear-gradient(#e0e1f3, #ebfffc);
  position: absolute;
  top: 30%;
  left: -15%;
  transform: translateY(-50%);
  min-width: 200px;
  min-height: 200px;
  box-shadow: 70em 12em 0 -11em #b8bde42d, 30em 62em 0 -100px #b8bde42d;
}

section#education::before {
  background-image: url("/assets/media/education.svg");
  content: '';
  position: absolute;
  top: 00px;
  left: -50px;
  width: 500px;
  background-repeat: no-repeat;
  height: 500px;
  z-index: -1;
  background-size: contain;
  animation-name: elevate;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  @media screen and (max-width: 768px) {
    width: 400px;
    height: 400px;
  }
  @media screen and (max-width: 600px) {
    width: 300px;
    height: 300px;
  }
  @media screen and (max-width: 425px) {
    width: 200px;
    height: 200px;
  }
}

.content {
  //background: $color-dark-blue;
  color: $color-smoke-white;
  //border-radius: 0.5em;
  box-shadow: 7px 7px 120px 0px #3c3c3c;

  display: flex;
  flex-direction: column;

  > .particles--container {
    width: 100%;
    z-index: 0;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    > canvas {
      height: calc(100vh - 12rem);
    }
  }

  .header-wrap {
    background-color: #fcfcfc;
    position: relative;
    padding-bottom: 30px;
    &::before {
      content: '';
      background-repeat: no-repeat;
      width: 600px;
      max-width: 50%;
      height: calc(100% - 20px);
      margin: 0 0 10px 0;
      border-radius: 46% 0% 53% 47% / 27% 0% 19% 73%;
      background-image: url("/assets/media/bg2.svg"), linear-gradient(45deg, #4d88c4 0%, #c30cbd 100%);
      z-index: 0;
      position: absolute;
      top: 0;
      right: 0;
      background-size: 70%, cover;
      background-position: 110px, 100%;
      box-shadow: -15px 10px 15px #ddd;
    }
    @media screen and (max-width: 1024px) {
      background: linear-gradient(45deg, #4d88c4 0%, #c30cbd 100%);
      color: #fff;
      &::before {
        content: none;
      }
      .header-bar {
        .header-bar--links {
          .header-bar--links__item {
            a {
              color: #FFFFFF !important;
            }
          }
        }
      }
      .heading--title {
        max-width: 100%;
        .main--heading {
          background: -webkit-linear-gradient(45deg, hsla(210, 0%, 100%, 1) 0%, #ffffff 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .sub--heading {
          color: #FFFFFF;
        }
        .description {
          color: #FFFFFF;
        }
        .download_cv {
          border: 1px solid whitesmoke;
        }
      }
      .last--updated {
        color: #fff;
        bottom: 10px;
      }
    }
  }

  .header-bar {
    z-index: 99;
    padding: 2em 2em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 4em;

    @media screen and (max-width: 900px) {
      //flex-direction: column;
      //padding: 1em;
    }

    @media screen and (max-width: 610px) {
      flex-direction: column;
      padding: 3em 1em;
      > .social--icons {
        flex: 1 !important;
        > .social--icon__item {
          margin-top: 1rem !important;
        }
      }
    }

    .header-bar--links {
      flex: 2;
      z-index: 100;
      > .header-bar--links__list {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        > .header-bar--links__item {
          font-size: 1.2em;
          padding: 0.5em 0em;
          text-transform: uppercase;
          display: inline-block;
          > a {
            font-weight: 700;
            color: #4c5192;
            padding: 10px 1em;
          }
          &:hover {
            border-bottom: 2px solid $color-underline;
            border-radius: 0em;
            > a {
              color: $color-underline;
              padding: 8px 1em;
            }
          }
          @media screen and (max-width: 900px) {
            font-size: 1em;
          }
          @media screen and (max-width: 500px) {
            font-size: 1.4em;
          }
        }
      }
    }

    > .social--icons {
      flex: 0 0 200px;
      z-index: 99;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      > .social--icon__item {
        font-size: 30px;
        margin: 0 1rem 1rem;
        &:hover {
          > a {
            color: #fff;
            > .fa-github {
              color: #777777;
            }
            > .fa-instagram {
              color: #fb92ae;
            }
            > .fa-linkedin {
              color: #5fbaea;
            }
            > .fa-envelope {
              color: #cba9df;
            }
            > .fa-phone {
              color: #5098f7;
            }
          }
        }
      }
    }
  }

  .heading--title {
    max-width: 50%;
    padding: 3em 0 3em 3em;
    min-height: calc(100vh - 12rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: height 0.5s ease-in-out;
    //box-shadow: 0px 10px 20px #4e4e508c;
    z-index: 2;
    position: relative;
    > .main--heading {
      font-size: 4em;
      background: -webkit-linear-gradient(45deg, #4d88c4 0%, #c30cbd 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #F8FBFC;
      margin: 0rem;
    }
    > .sub--heading {
      font-size: 2.2em;
      color: #6e6ec2;
      margin: 0.5em 0;
      //letter-spacing: 1px;
    }
    > .description {
      font-size: 1.5em;
      margin: 2em 0;
      color: $color-head-desc;
      padding-bottom: 30px;

      @media screen and (max-width: 500px) {
        font-size: 1.8em;
      }
    }

    @media screen and (max-width: 900px) {
      padding: 4rem 4rem;
    }
    @media screen and (max-width: 700px) {
      padding: 4rem 5rem;
    }
    @media screen and (max-width: 400px) {
      padding: 4rem 5rem 0;
    }
  }
  > .light--content {

    border-radius: 0 0 0.5em 0.5em;
    // background: #fcfcfc;
    padding: 2em 1em 4em;

    > .content--title {
      margin: 1em auto;
      position: relative;
      color: $color-dark-blue;
      font-size: 40px;
      text-align: center;
      padding-bottom: 0.5em;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 150px;
        border-radius: 4px;
        height: 4px;
        transform: translateX(-50%);
        background: $color-underline;
        animation-name: grow-width;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
  }
  > .dark--content {

    border-radius: 0 0 0.5em 0.5em;
    //background: #103152;
    padding: 2em 1em 4em;

    > .content--title {

      position: relative;
      color: $color-white;
      font-size: 40px;
      text-align: center;
      padding-bottom: 0.5em;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 150px;
        border-radius: 4px;
        height: 4px;
        transform: translateX(-50%);
        background: #89ba16;
        animation-name: grow-width;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
  }
}

.timeline--container {
  overflow: hidden;

  > ul.timeline--line {
    padding: 0;

    > li {
      list-style-type: none;
      position: relative;
      width: 6px;
      margin: 0px auto 0;
      padding-top: 50px;
      border: 1px solid;
      border-radius: 3px;
      background: #f5f5f5;
      box-shadow: 2px 2px 7px rgb(199, 197, 197);

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: $color-pink;
        border: 1px solid;
        box-shadow: 2px 2px 7px rgba(214, 212, 212, 0.5);

        background: #fff;
        transition: background .5s ease-in-out;
      }

      &:nth-child(odd) div.timeline_item--content {
        left: 45px;
        transform: translate3d(200%, 0, 0);
      }

      &:nth-child(odd) div.timeline_item--content::before {
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent $color-pink transparent transparent;
      }

      &:nth-child(even) div.timeline_item--content {
        transform: translate3d(-200%, 0, 0);
        left: -45px;
        @media screen and (max-width: 700px) {
          left: 45px;
          transform: translate3d(200%, 0, 0);
        }
      }

      &:nth-child(even) div.timeline_item--content::before {
        right: -15px;
        border-width: 10px 0 10px 15px;
        border-color: transparent transparent transparent $color-pink;
        @media screen and (max-width: 700px) {
          left: -15px;
          border-width: 8px 16px 8px 0;
          border-color: transparent $color-pink transparent transparent;
        }
      }

      > div.timeline_item--content {

        visibility: hidden;
        //display: none;
        opacity: 0;
        transition: all 0.3s ease-in-out;

        position: relative;
        bottom: 0;
        width: auto;
        min-width: 200px;
        padding: 1em 2em;
        background: #FFFFFF;
        color: $color-white;
        border-radius: 0.15em;
        margin-bottom: 10px;
        border: 1px solid #f1f1f1;
        box-shadow: 4px 4px 10px #a8a6bc4d;

        &:hover {
          box-shadow: 8px 8px 10px #c3c3c346;
        }

        > .timeline_item--title {
          color: $color-pink;
          font-size: 20px;
          margin-bottom: 0.5em;
        }

        > .timeline_item--sub_title {
          color: $color-dark-blue;
          font-size: 16px;
          margin-bottom: 0.9em;

          > .timeline_item--time {
            margin-top: 0.5em;
            font-size: 12px;
            text-transform: uppercase;
            color: #865a27;
          }
        }

        > .timeline_item--desc {
          color: #333;
          font-size: 1em;
          line-height: 1.8em;
          @media screen and (min-width: 900px) {
            font-size: 0.9em;
            //overflow: scroll;
          }
          @media screen and (max-width: 899px) {
            font-size: 1em;
          }
          @media screen and (max-width: 500px) {
            font-size: 1.6em;
            //overflow: scroll;
          }
        }
        @media screen and (min-width: 900px) {
          width: calc(50vw - 150px);
        }
        @media screen and (min-width: 701px) and (max-width: 900px) {
          width: calc(50vw - 70px);
        }
        @media screen and (max-width: 700px) {
          width: calc(100vw - 120px);
        }
        @media screen and (max-width: 500px) {
          width: calc(100vw - 100px);
        }
      }

      > div.timeline_item--content::before {
        content: '';
        position: absolute;
        bottom: 7px;
        width: 0px;
        height: 0;
        border-style: solid;
      }

      @media screen and (max-width: 700px) {
        margin-left: 20px;
      }
    }

    &.dark {
      > li {
        box-shadow: 2px 2px 7px rgb(8, 26, 67);
        &::after {
          //background: #7BAE00;
          box-shadow: 2px 2px 7px rgba(80, 79, 79, 0.5);
        }
        &.in-view {
          &:after {
            //background: #7BAE00;
          }
        }
        > div.timeline_item--content {
          box-shadow: 2px 2px 7px rgb(8, 26, 67);
          &:hover {
            box-shadow: 2px 2px 7px rgb(11, 36, 93);
          }
        }
      }
    }

    > li.in-view {
      &:after {
        background: $color-pink-dark;
      }
      &:nth-child(odd) div.timeline_item--content {
        transform: none;
        visibility: visible;
        opacity: 1;
        display: block;

      }

      &:nth-child(even) div.timeline_item--content {
        transform: translateX(-100%);
        visibility: visible;
        opacity: 1;
        display: block;
        @media screen and (max-width: 700px) {
          transform: translateX(0%);
        }
      }
    }
  }
}

.content--body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4em 2em;

  > .col {
    flex: 1;
    margin: 10px;
    > h2 {
      transition: all 0.5s ease-in-out;
      text-align: center;
      color: #fff;
      letter-spacing: 1px;
    }
  }

  @media screen and (min-width: 801px) and (max-width: 900px) {
    > .col {
      > h2 {
        font-size: 1.3em;
      }
    }
  }
  @media screen and (max-width: 900px) {
    flex-direction: column;
    > .col {
      width: 100%;
      > h2 {
        font-size: 2em;
      }
    }
  }
}

.skill-part {
  flex-direction: column;
  padding: 2em;
  > .item {
    z-index: 2;
    margin: 20px 0;
    width: 100%;
    > .heading {
      font-size: 24px;
      color: #6d59b1;
      text-align: right;
      padding: 15px;
    }
    > .row {
      display: flex;
      text-align: center;
      justify-content: flex-end;
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1024px) {
    > .item {
      > .heading {
        text-align: center;
      }
      > .row {
        justify-content: center;
      }
    }
  }
}

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 2.5em;
  width: 90%;
  background: #eee;
  height: 35px;
  border-radius: 3px;
  transition: 0.4s linear;
  transition-property: width, background-color;
  margin-left: auto;
  margin-right: auto;

  > .skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    background: #6adcfa;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    > span {
      display: block;
      background: rgba(0, 0, 0, 0.2);
      padding: 0 20px;
      height: 35px;
      line-height: 35px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
}

.skillcard.php {
  &::before {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/27/PHP-logo.svg);
  }
}

.skillcard.react {
  &::before {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1024px-React-icon.svg.png");
    background-size: 160px;
  }
}

.skillcard.html {
  &::before {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg);
  }
}

.skillcard.angular {
  &::before {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg);
    background-size: 120px;
  }
}

$skillcard-width: 180px;

.skillcard {
  position: relative;
  width: $skillcard-width;
  height: 250px;
  border-radius: 8px;
  transition: 100ms ease-in;
  transition-property: width, background-color, box-shadow;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1em;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 12px #0000005c;
  &:hover {
    box-shadow: 8px 8px 8px #a6a3aba6;
  }
  &::before {
    content: '';
    width: 100%;
    min-width: $skillcard-width;
    height: 100%;
    background-size: 100px;
    background-repeat: no-repeat;
    opacity: 0.2;
    background-position: 95% 10%;
    position: absolute;
  }

  + .python {
    &::before {
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg);
    }
  }

  + .android::before {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d7/Android_robot.svg);
  }

  + .java::before {
    background-size: 50px;
    background-position: 85% 10%;
    background-image: url(https://upload.wikimedia.org/wikipedia/it/2/2e/Java_Logo.svg);
  }

  + .nodejs::before {
    background-size: 160px;
    background-image: url(/assets/media/nodejs.svg);
  }

  > .skillbar-title {
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    > span {
      display: block;
      //height: 35px;
      line-height: 35px;
      padding: 15px 10px;
      font-size: 15px;
    }
  }
  > .skill-bar-percent {
    transform: translate(50%, -50%);
    position: absolute;
    right: 50%;
    top: 40%;
    font-size: 3em;
    height: 35px;
    line-height: 35px;
    color: rgb(255, 255, 255);
    > span {
      font-size: 20px;
      vertical-align: super;
    }
  }
}

.skillbar-bar {
  height: 35px;
  width: 0px;
  background: #6adcfa;
  border-radius: 3px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: #444;
  color: rgba(0, 0, 0, 0.4);
}

.projects--content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 4em 2em;
  color: #333;

  > .project--item {
    width: calc(28% - 1em);
    padding: 1em 1em 1.5em;
    margin: 1em 1em 3em 1em;
    min-height: 150px;
    //border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
    position: relative;
    box-shadow: 4px 4px 6px 0 rgba(3, 30, 49, 0.08);

    &:hover {
      box-shadow: 6px 6px 20px 2px #a8a6bc2e;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 10px;
      top: -40px;
      width: 60px;
      max-width: 210px;
      height: 60px;
      background: white;
      border-radius: 100px;
      background-repeat: no-repeat;
      background-position: 50%;
      border: 1px solid #f9f9f9;
      box-shadow: 2px 2px 9px #f3f3f3;
    }

    &.react::before {
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1024px-React-icon.svg.png);
      background-size: 70px;
    }

    &.python::before {
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg);
      background-size: 40px;
    }

    &.siebel::before {
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/71/Siebel_Systems_logo.svg);
      background-size: 80%;
    }

    &.android::before {
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d7/Android_robot.svg);
      background-size: 40px;
    }

    &.php::before {
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/27/PHP-logo.svg);
      background-size: 50px;
    }

    &.firebase::before {
      background-image: url(/assets/media/firebase.svg);
      background-size: 30px;
    }

    &.nodejs::before {
      background-image: url(/assets/media/nodejs.svg);
      background-size: 70%;
    }

    > .project--item__heading {
      margin: 0.5em 0 0 0;
      font-size: 1.3em;
      color: #155484;
      width: 90%;
    }
    > .project--item__sub-heading {
      margin: 0.5em 0 20px 0;
      display: inline-block;
      font-size: 14px;
      color: $color-pink-dark;
      text-transform: capitalize;
    }
    > .project--item__desc {
      font-size: 0.9em;
      line-height: 1.5em;
      margin-bottom: 1em;
      @media screen and (max-width: 900px) {
        font-size: 1em;
      }
    }

    > .project--item__link {
      position: absolute;
      right: 10px;
      bottom: 10px;
      > a {
        color: #333;
      }
    }

    @media screen and (max-width: 1000px) {
      width: calc(50% - 2em);
      font-size: 90%;
    }
    @media screen and (max-width: 800px) {
      //width: calc(50%);
      font-size: 110%;
    }
    @media screen and (min-width: 768px) and (max-width: 799px) {
      width: calc(50% - 2em);
      font-size: 100%;
    }
    @media screen and (max-width: 700px) {
      width: calc(100%);
    }
    @media screen and (max-width: 500px) {
      font-size: 160%;
    }
    @media screen and (max-width: 400px) {
      font-size: 180%;
    }
  }
}

.personal-info--content {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  margin: auto;
  padding: 4em 2em;

  @media screen and (max-width: 500px) {
    padding: 2em 0
  }

  > div {
    color: #333131;
    font-size: 1.3em;
    margin-bottom: 2em;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ddd;
    display: flex;
    line-height: 40px;
    flex-direction: row;

    @media screen and (max-width: 768px) {
      font-size: 1.5em;
    }

    > span {
      flex-basis: 100px;
      color: #464599;
      font-size: 1em;
      font-weight: bold;
      margin-right: 10%;
      display: inline-block;
      text-align: right;
      @media screen and (min-width: 769px) {
        flex-basis: 120px;
      }
      @media screen and (max-width: 500px) {
        margin-right: 10px;
        flex-basis: 70px;
        text-align: left;
      }
    }

    > span.email, span.address, span.phone, span.hobbies {
      font-size: 1em;
      > i.fas.fa-phone {
        transform: rotate(110deg);
      }
    }

    .hobby--list {
      margin: 0;
      list-style: disc;
    }

    > a {
      color: $color-pink;
      word-break: break-word;
    }
  }
}

footer {
  background: hsla(229, 12%, 21%, 1);
  padding: 2em;
  font-size: 24px;
  > p {
    margin: 1em 0 0;
    color: #fff;
    text-align: center;
    > span {
      margin: 0 1em;
      font-size: 18px;
    }
  }
}

.footer-section {
  display: flex;
  min-height: 200px;
  justify-content: flex-end;
  flex-direction: column;
  .disclaimer {
    text-align: right;
    color: #aaa;
    font-size: 15px;
    margin: 20px 0;
  }
  .columns {
    font-size: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    > div {
      flex: 1;
      > h3 {
        color: #fff;
      }
    }
    > div:first-child {
      //text-align: left;
    }
    > div:last-child {
      //text-align: right;
    }
  }
}

.freebirdFormviewerViewFormContent {
  box-shadow: none !important;
}
